.section-header {
  background-color: #f3f4f6;
  padding: 4.6rem 0 9.6 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  height: 9.6rem;
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff5e15;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: white;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #ff5e15;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #d04b0d;
}

@media (max-width: 75em) {
  .main-nav-list {
    gap: 3.2rem;
  }
}
