.section-header {
  background-color: #f3f4f6;
  padding: 4.6rem 0 9.6 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  height: 7.6rem;
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  font-size: 4.8rem;
  height: 4.8rem;
  color: #6b7280;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.icon-mobile-nav[name="menu-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

/* STICKY NAV */

.sticky {
  position: fixed;
  top: 0;
  background-color: #f3f4f6; /* Add background color to match header */
  width: 100%; /* Ensure full width */
  z-index: 9999;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.065); /* Add shadow for better visibility */
  border-bottom: 1.5px solid #d6dae3;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff5e15;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #ffffff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #ff5e15;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #d04b0d;
}

@media (max-width: 75em) {
  .main-nav-list {
    gap: 3.2rem;
  }
}

/* MOBILE NAVIGATION */
@media (max-width: 59em) {
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;

    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
    padding: 0;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
}
