.section-meals {
  padding: 9.6rem 0;
}

.meal-title {
  font-size: 2.4rem;
  color: black;
  font-weight: 600;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
}
.meal-img {
  width: 100%;
}
