.footer {
  padding: 9.6rem 0;
  border-top: 1.5px solid #ededed;
  background-color: #f3f4f6;
}

.social-links {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 2.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.address {
  margin-bottom: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin: 0 auto;
}

.copyright {
  font-size: 1.4rem;
  color: #6b7280;
  line-height: 1.6;
}

.footer-nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #7a808d;
  transition: all 0.2s;
}

.footer-link:hover,
.footer-link:active {
  color: #484b52;
}
