html {
  font-size: 62.5%;
}

/* ALL FONT SIZES ARE NOW 9px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
}

body {
  margin: 0;
  font-family: Rubik, Inter;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

/***************** REUSABLE COMPONENTS *******************/

/*   color: #6b7280; DESCRIPTION COLOR */
/*   background-color: #f3f4f6; LIGHTR GRAY COLOR */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.logo {
  height: 3.8rem;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-sm {
  margin-bottom: 3.2rem !important;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #000;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4.2rem;
  line-height: 1.05;
  margin-bottom: 2.4rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.btn--form {
  align-self: end;
  margin: 0;
  background-color: black;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #ff5e15;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  transition: all 0.3s;
}

.btn-full:link,
.btn--full:visited {
  background-color: #ff5e15;
  color: #fff;
}

.btn-full:hover,
.btn--full:active {
  background-color: #d04b0d;
  color: #fff;
}

.btn-outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #000;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #f0f0f0;

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem #f5753a;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.strong {
  font-weight: 500;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #ff5e15;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.2s;
}

.link:hover,
.link:active {
  color: #d04b0d;
  border-bottom: 1px solid transparent;
}

@media (max-width: 75em) {
  .heading-primary {
    font-size: 3.4rem;
  }
}
