.section-pricing {
  padding: 9.6rem 0;
}

/* .pricing-plan {
  align-self: start;
} */

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  font-size: 2rem;
  color: #ff5e15;
  margin-bottom: 3.2rem;
}

.plan-price {
  margin: 0;
  margin-bottom: 1.6rem;
  font-size: 6.2rem;
  font-weight: 600;
  color: black;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.list-icon-red {
  width: 30px;
  height: 30px;
  color: #ff5e15;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6b7280;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.2rem;
  width: 50%;
  overflow: hidden;
}

.pricing-plan--starter {
  border: 2px solid #f3f4f6;
  justify-self: end;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #f3f4f6;
  padding: 4.8rem;
  position: relative;
}

.pricing-plan--complete::after {
  content: "Best value";
  background-color: #ff5e15;
  color: #f3f4f6;
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  padding: 0.8rem 8rem;
  font-size: 1.4rem;
  font-weight: 700;
  transform: rotate(45deg);
}

.feature-icon {
  color: #ff5e15;
  background-color: #f3f4f6;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: black;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

aside {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

@media (max-width: 59em) {
  .list-item {
    line-height: 1.2;
  }
}
